*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--text-color-light);
    }
}
