.c-button {
    display: inline-block;
    padding: 4px 16px;
    color: white;
    background-color: #2f7932;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    user-select: none;

    &:hover {
        background-color: black;
    }

    &--little {
        padding: 2px 5px;
        background-color: #929c1a;
        font-size: 14px;
    }

    &--big {
        padding: 10px 30px;
        background-color: #501a9c;
    }
}
