/* ---------------- TAGS (BASE) ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

    @include from(lg) {
        margin: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

/* ---------------- TAGS (BASE) ---------------- */
