/* ---------------- TAGS (BASE) ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    @include normal;
    color: var(--text-color);

    margin: 0 0 var(--header-height) 0;
    background-color: var(--body-color);

    @include from(lg) {
        margin: 0;
    }
}

h1 {
    @include t1;
}

h2 {
    @include t2;
}

h3 {
    @include t3;
}

h4 {
    @include t4;
}

h5 {
    @include t5;
}

h6 {
    @include t6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

/* ---------------- TAGS (BASE) ---------------- */
