.u-none {
    display: none !important;

    &\@sm {
        @include sm {
            display: none !important;
        }
    }
}

.u-tar {
    text-align: right !important;
}

.u-tal {
    text-align: left !important;
}

.u-tac {
    text-align: center !important;
}
