/* ---------------- LAYOUT (BASE) ---------------- */

.o-layout-container {
    max-width: var(--max-width);

    margin-left: var(--mb-1);
    margin-right: var(--mb-1);

    @include from(md) {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    @include from(lg) {
        margin-left: auto;
        margin-right: auto;
    }
}

.o-layout-section {
    padding: 2rem 0 4rem;

    &__title {
        font-size: var(--h1-font-size);
        text-align: center;
    }

    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
        text-align: center;

        @include from(lg) {
            margin-bottom: 4rem;
        }
    }

    @include from(lg) {
        padding: 6rem 0 2rem;
    }
}

.o-layout-grid {
    display: grid;
    gap: var(--gutter);
}

@for $i from 1 through 20 {
    .o-layout-w-#{$i * 5 } {
        width: $i * 5%;
    }
}

/* ---------------- LAYOUT (BASE) ---------------- */
