/* ---------------- LAYOUT (BASE) ---------------- */

.o-layout-container {
    max-width: 968px;

    margin-left: var(--mb-1);
    margin-right: var(--mb-1);

    @include from(md) {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    @include from(lg) {
        margin-left: auto;
        margin-right: auto;
    }
}

.o-layout-grid {
    display: grid;
}

/* ---------------- LAYOUT (BASE) ---------------- */
