.o-layout-section {
    padding: 2rem 0 4rem;

    &__title {
        font-size: var(--h1-font-size);
        text-align: center;
    }

    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
        text-align: center;

        @include from(lg) {
            margin-bottom: 4rem;
        }
    }

    @include from(lg) {
        padding: 6rem 0 2rem;
    }
}
